body {
    background-color: black;
}

#box-model {
    width: 640px;
    height: 640px;
    background-color: darkgoldenrod;
    margin: 0 auto;
    padding: 50px;
    border: double 30px darkcyan;
}

#box-content {
    width: 100%;
    height: 100%;
    background-color: teal;
}