@font-face {
    font-family: rainy-stars;
    src: url('rainy_stars/RainyStars_PERSONAL_USE_ONLY.otf');
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url('images/rabbit-feet.png'), url('images/starry-night.png');
    margin: 0 auto;
}

p {
    color: white;
    font-family: rainy-stars;
    font-size: 30pt;
    position: absolute;
    top: 0%;
    left: 35%;
    width: 30vw;
    line-height: 75%;
    text-align: justify;
}

.current-photo {
    border: 2px dashed purple;
    position: absolute;
    top: 10%;
    left: 35%;
    opacity: 100%;
}

.next-photo {
    border: 2px dashed purple;
    position: absolute;
    top: 50%;
    left: 35%;
    opacity: 0%;
}

@keyframes translate {
    100% {
        transform: translateY(-100%);
    }
}

@keyframes opacity {
    0% {
        opacity: 0%
    }
    100% {
        opacity: 100%
    }
}

.slide-up {
    animation-name: translate, opacity;
    animation-direction: forwards, forwards;
    animation-duration: 1.5s;
}

.next-slide {
    animation-name: translate, opacity; 
    animation-direction: forwards, forwards;
    animation-duration: 1.5s;
}

.slide-down {
    animation-name: translate, opacity;
    animation-direction: reverse, reverse;
    animation-duration: 1.5s;
  }

.previous-slide {
    animation-name: translate, opacity;
    animation-direction: reverse, reverse;
    animation-duration: 1.5s;
}

@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
.rabbit-forwards {
    animation-name: rotate;
    animation-direction: forwards;
    animation-duration: 1.5s;
}

.rabbit-backwards {
    animation-name: rotate;
    animation-direction: reverse;
    animation-duration: 1.5s;
}


